{% extends 'security_layout.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="auth-form-dark text-left p-5">
        <h2>Connexion</h2>
        <form class="form-element" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="form-group has-feedback">
                <input type="text" value="{{ last_username }}" name="username"class="form-control" placeholder="{{ 'security.Username'|trans }}" required autofocus autocomplete="off">
                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" placeholder="{{ 'security.Password'|trans }}" class="form-control" required>
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="checkbox">
                        <input type="checkbox" name="_remember_me" id="basic_checkbox_1" >
                        <label for="basic_checkbox_1">{{ 'security.RememberMe'|trans }}</label>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-block btn-success btn-lg font-weight-medium" type="submit">{{ 'security.btnSignIn'|trans}}</button>
            </div>
        </form>
    </div>
{% endblock %}
