{{ form_start(form,{'attr':{'class':'forms-sample'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        {{ form_row(form.region) }}
    </div>
    <div class="form-group">
        {{ form_row(form.nom) }}
    </div>
    <div class="form-group">
        {{ form_row(form.localite) }}
    </div>
    <button class="btn btn-success mr-2">{{ button_label|default('form.btnSave'|trans) }}</button>
    <a href="{{ path('district_index') }}" class="btn btn-light">{{ 'form.btnCancel'|trans }}</a>
{{ form_end(form) }}
