{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Gestion des activités{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            Sécurité
            <small>Gestion des activités</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li class="breadcrumb-item"> Activités</li>
            <li class="breadcrumb-item active">Enregistrement</li>
        </ol>
    </section>


    <section class="content">
        <div class="row mt-5 mb-5">
            <div class="col text-right"><a href="{{ path('activite_index') }}" class="btn btn-success">Retour à la liste</a></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 grid-margin stretch-card"   >
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Enregistrement</h4>
                        {% for label, messages in app.flashes(['success','danger']) %}
                            {% for message in messages %}
                                <div class="alert alert-{{label}} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="row">
                            <div class="col-12">
                                {{ include('activite/_form_nationale.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('ressources/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('ressources/assets/vendor_components/select2/dist/css/select2.min.css') }}">
    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice{
            background-color: #146714;
            border:1px solid #aaa;
            border-radius:4px;
            cursor:default;
            float:left;
            margin-right:5px;
            margin-top:5px;
            padding:0 5px
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ressources/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_components/select2/dist/js/select2.full.js') }}"></script>
    <script>
        $('.textarea').wysihtml5();
        $('#nationale_dateDebut').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            language: 'fr',
        });
        $('#nationale_dateFin').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            language: 'fr',
        });
        $('.select2').select2();
    </script>
{% endblock %}
