<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}SYCOP ::{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ absolute_url(asset('ressources/assets/vendor_components/bootstrap/dist/css/bootstrap.css')) }}">
            <link rel="stylesheet" href="{{ asset('ressources/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('ressources/css/master_style.css') }}">
            <link rel="stylesheet" href="{{ asset('ressources/css/skins/_all-skins.css') }}">
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <a href="{{ path('homepage') }}" class="logo">
                    <span class="logo-mini">SYCOP</span>
                    <span class="logo-lg"><b>SYCOP</b></span>
                </a>
                <nav class="navbar navbar-static-top">
                    <a href="{{ path('homepage') }}" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{ asset('ressources/images/avatar.png') }}" class="user-image rounded-circle" alt="Avatar">
                                </a>
                                <ul class="dropdown-menu scale-up">
                                    <li class="user-body">
                                        <div class="row no-gutters">
                                            <div class="col-12 text-left">
                                                <a href="#"><i class="ion ion-person"></i> Mot de passe</a>
                                            </div>
                                            <div role="separator" class="divider col-12"></div>
                                            <div class="col-12 text-left">
                                                <a href="{{ path('app_logout') }}"><i class="fa fa-power-off"></i> Deconnexion</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="main-sidebar">
                <section class="sidebar">
                    <div class="user-panel">
                        <div class="image">
                            <img src="{{ asset('ressources/images/logo.png') }}" class="rounded-circle" alt="User Image">
                        </div>
                    </div>
                    <ul class="sidebar-menu" data-widget="tree">
                        <li {% if current_menu is defined and current_menu == 'Accueil'  %} class="active"{% endif %}>
                            <a href="{{ path('homepage') }}">
                                <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
                                <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar"></i> <span>Activités</span></a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li {% if current_menu is defined and current_menu == 'Parametre'  %} class="treeview active" {% else %} class="treeview"{% endif %}>
                            <a href="#">
                                <i class="fa fa-cog"></i>
                                <span>Paramètres</span>
                                <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('region_index') }}"><i class="fa fa-circle-o"></i> Régions</a></li>
                                <li><a href="{{ path('district_index') }}"><i class="fa fa-circle-o"></i> Districts</a></li>
                                <li><a href="{{ path('departement_index') }}"><i class="fa fa-circle-o"></i> Departement</a></li>
                            </ul>
                        </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-lock"></i>
                                    <span>Securité</span>
                                    <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('user_index') }}"><i class="fa fa-circle-o"></i> Utilisateur</a></li>
                                    <li><a href="{{ path('gestionnaire_index') }}"><i class="fa fa-circle-o"></i> Gestionnaire</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <div class="sidebar-footer">
                    <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i class="fa fa-cog fa-spin"></i></a>
                    <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Email"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="fa fa-power-off"></i></a>
                </div>
            </aside>
            <div class="content-wrapper">
                {% block body %}{% endblock %}
            </div>
            <footer class="main-footer">
                <div class="pull-right d-none d-sm-inline-block">
                    <b>Version</b> 1.0 &nbsp;
                </div>Copyright &copy; 2020 <a href="https://www.scoutascci.org/">Association des Scouts Catholiques de Cote d'Ivoire</a>. Tous droits reservés.
            </footer>
            <div class="control-sidebar-bg"></div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('ressources/assets/vendor_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('ressources/assets/vendor_components/popper/dist/popper.min.js') }}"></script>
            <script src="{{ asset('ressources/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('ressources/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
            <script src="{{ asset('ressources/assets/vendor_components/fastclick/lib/fastclick.js') }}"></script>
            <script src="{{ asset('ressources/js/template.js') }}"></script>
            <script src="{{ asset('ressources/js/demo.js') }}"></script>
        {% endblock %}
    </body>
</html>
