<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Connexion{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ absolute_url(asset('ressources/assets/vendor_components/bootstrap/dist/css/bootstrap.css')) }}">
            <link rel="stylesheet" href="{{ asset('ressources/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('ressources/css/master_style.css') }}">
            <link rel="stylesheet" href="{{ asset('ressources/css/skins/_all-skins.css') }}">
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body class="hold-transition login-page" style="background: url({{ asset('ressources/images/auth_bg.jpg')}}) center center no-repeat #d2d6de;">
        <div class="login-box">
            <div class="login-logo">
                <a href="{{ path('app_login') }}">SYCOP</a>
            </div>
            <div class="login-box-body">
                {% block body %}{% endblock %}
                <div class="social-auth-links text-center">
                    <a href="https://facebook.com/scoutascci" class="btn btn-social-icon btn-circle btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://scoutascci.org/" class="btn btn-social-icon btn-circle btn-google" target="_blank"><i class="fa fa-globe"></i></a>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('ressources/assets/vendor_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('ressources/assets/vendor_components/popper/dist/popper.min.js') }}"></script>
            <script src="{{ asset('ressources/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
