{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} Gestion des gestionnaires{% endblock %}

{% block body %}
    <section class="content-header">
    <h1>
        Sécurité
        <small>Gestion des gestionnaires</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="breadcrumb-item"> Sécurité</li>
        <li class="breadcrumb-item active">Gestionnaires</li>
    </ol>
</section>

    <section class="content">
        <div class="row">
            <div class="col-sm-6 col-md-8 grid-margin stretch-card"   >
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste des gestionnaires</h4>
                        {% for label, messages in app.flashes(['success','danger']) %}
                            {% for message in messages %}
                                <div class="alert alert-{{label}} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 table-responsive" cellspacing="0" width="100%">

                                        <thead>
                                        <tr class="text-center">
                                            <th class="text-center">Id</th>
                                            <th class="text-center">Login</th>
                                            <th class="text-center">District</th>
                                            <th class="text-center">Cle</th>
                                            <th class="text-center">actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for gestionnaire in gestionnaires %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ gestionnaire.user.username }}</td>
                                                <td>{{ gestionnaire.district.nom }}</td>
                                                <td>{{ gestionnaire.cle }}</td>
                                                <td class="text-center">
                                                    <a href="{{ path('gestionnaire_show', {'id': gestionnaire.id}) }}"><i class="fa fa-eye"></i></a> |
                                                    <a href="{{ path('gestionnaire_edit', {'id': gestionnaire.id}) }}"><i class="fa fa-edit"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Enregistrement</h4>
                        {{ include('gestionnaire/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('ressources/assets/vendor_components/select2/dist/css/select2.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ressources/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('ressources/js/pages/data-table.js') }}"></script>
    <script src="{{ asset('ressources/assets/vendor_components/select2/dist/js/select2.full.js') }}"></script>
    <script>
        $('.select2').select2();
    </script>
{% endblock %}